html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    align-items: top;
    justify-content: center;
}
a {
    text-decoration: none;
}
.dark-mode {
    background-color: #092635;
    color: white;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10svh;
    font-family: Russo One;
}
.user {
    display: flex;
    align-items: center;
    font-size: 125%;
    margin-left: 25px;
    cursor: default;
}

/* Content */
.content {
    display: flex;
    width: 100%;
    height: auto;
    font-family: Dela Gothic One;
    flex-direction: column;
}
.frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    z-index: 0;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100%;
    gap: 15%;
    z-index: 2;
}
.button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    width: 10rem;
    background-color: rgb(146, 146, 146, 0.9);
    border-radius: 5%;
    border: 1px #eeeeee;
    font-family: Dela Gothic One;
    color: #ffffff;
    z-index: 2;
    transition: all 0.3s;
}
.buttons :hover {
    background-color: rgba(146, 146, 146, 0.5);
    transform: translateY(-10px);
}
.ball {
    display: flex;
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    border: 2px solid blue;

    animation: BackgroundImage linear 6s infinite;
}
.ball2 {
    display: flex;
    height: 140px;
    width: 140px;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    border: 2px solid rgb(255, 94, 0);

    animation: BackgroundImage linear 4s infinite;
}
.ball3 {
    display: flex;
    height: 80px;
    width: 80px;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    border: 2px solid rgb(17, 255, 0);

    animation: BackgroundImage linear 8s infinite ;
}

@keyframes BackgroundImage {
    0% {
        transform: rotate3d(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#ommeg {
    display: flex;
    justify-content: center;
    height: 100svh;
    overflow: hidden;
}
#ommeg h2 {
    display: flex;
    justify-content: center;
    font-size: 250%;
}
#ommeg p {
    margin: 10%;
}
#prosjekter {
    display: flex;
    justify-content: center;
    font-size: 125%;
    height: 100svh;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.section {
    margin-top: 5rem;
}
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
    .section {
        margin-top: 10rem;
    }
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
    .section {
        margin-top: 10rem;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .section {
        margin-top: 10rem;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 10rem;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .section {
        margin-top: 10rem;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
    .section {
        margin-top: 10rem;
    }
}