body {
    margin: 0;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 42.5em;
}
.header {
    background-color: pink;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: pink;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: bottom;
}